TMDB_API_KEY=your_tmdb_api_key
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_LANGUAGE_DEFAULT=en-US
MONGO_URI=mongodb://127.0.0.1:27017/cyberflix

PORT=3001
NODE_ENV=development

JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=7d

APP_BASE_URL=http://localhost:3000
STRIPE_SECRET_KEY=
STRIPE_PREMIUM_PRICE_ID=
